/* Here we have the style for every template */

.header-container{
    max-width: 500px;
}

.container{
    max-width: 500px;
}

.footer-container{
    background-color: #ffbf6a;
    height: 200px;
    width: 50%;
    /*max-height: 180px;*/
}

.level{
    max-height:100px;
}